* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: DM Sans, sans-serif;
    transition: opacity 0.5s ease-in-out;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    overflow: hidden;
}

.hideable {
    opacity: 1;
    visibility: visible;
}

.hideable.hidden {
    opacity: 0 !important;
    visibility: hidden;
}

.background {
    background-image: url("assets/loadingpage.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    transition: ease-in-out 0.5s;

}
/* To prevent content from going above the viewport,
   set justify-content: flex-start; on the container.
   This ensures content starts from the top of the container,
   preventing it from being centered vertically and overflowing above. */
.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding: 20px; 
    overflow-y: auto; /* Enable vertical scrolling */
    height: 100vh; /* Full viewport height */
}

.header {
    max-width: 966px;
    height: 100px;
}
.glass {
    width: 100%; /* Adjust as needed */
    max-width: 966px;
    height: 545px;
    margin: 30px;
    border-radius: 17px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.514);
    flex-shrink: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    backdrop-filter: blur(2px);
}

.details, .abouttext .abouttitle {
    transition: ease-in-out 0.2s;
}

.dark-mode .glass {
    background: rgba(0, 0, 0, 0.5);
}

.dark-mode .about {
    background: rgba(0, 0, 0, 0.5);
}

.dark-mode .details,
.dark-mode .abouttext,
.dark-mode .abouttitle,
.dark-mode .credits {
    color: #fff; 
} 

.credits {
    font-family: 'DM Sans', sans-serif;
    font-size: 15px;
    margin-top: 100px;
}

.details {
    font-family: 'DM Sans', sans-serif;
    color: #1f1f1f;
    font-size: 30px;
    padding: 10px;
}


.image1 {
    background-image: url('assets/subwoofer.png');
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 150px;
    border-radius: 17px;
    flex-shrink: 0;
}

.image2 {
    background-image: url('assets/wet\ hands.png');
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 150px;
    border-radius: 17px;
    flex-shrink: 0;
}

.image3 {
    background-image: url('assets/key.png');
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 150px;
    border-radius: 17px;
    flex-shrink: 0;
}

.box {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 15px;
    margin: 0;
    cursor: pointer;
}

.foottitle {
    font-family: 'DM Sans', sans-serif;
    font-size: 30px;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}


.footer {
    margin-top: 300px;
    width: 100%;
    max-width: 966px;
    height: 100px;
    border-radius: 17px;
    background: #282828;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    flex-shrink: 0;
}

.about {
    width: 100%; /* Adjust as needed */
    max-width: 800px;
    height: 400px;
    margin-top: 300px;
    border-radius: 17px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.514);
    flex-shrink: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    backdrop-filter: blur(2px);
    padding: 40px;
}

.abouttext {
    margin-top: 10px;
    font-family: 'DM Sans', sans-serif;
    font-size: 30px;
    color: #1f1f1f;
    display: flex;
    align-items: center;
    justify-content: center;
}

.abouttitle {
    font-family: 'DM Sans', sans-serif;
    font-size: 50px;
    color: #1f1f1f;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

@media (max-width: 800px) {
    .abouttext {
        font-size: 19px;
    }
    
    .abouttitle {
        font-size: 40px;
    }
    
    .foottitle {
        font-size: 19px;
    }

    .credits {
        font-size: 12px;
    }
}

.controltab {
    width: 100%; /* Adjust as needed */
    max-width: 400px;
    height: 100px;
    margin-top: 200px;
    border-radius: 17px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

#playPauseBtn {
    width: 50px;
    height: 50px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.514);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}

#playPauseBtn i {
    font-size: 24px;
    color: #fff;
}

/* Add animation styles */
#playPauseBtn.play i::before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="16" width="10" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M48 64C21.5 64 0 85.5 0 112V400c0 26.5 21.5 48 48 48H80c26.5 0 48-21.5 48-48V112c0-26.5-21.5-48-48-48H48zm192 0c-26.5 0-48 21.5-48 48V400c0 26.5 21.5 48 48 48h32c26.5 0 48-21.5 48-48V112c0-26.5-21.5-48-48-48H240z"/></svg>');
    animation: spin 0.5s linear forwards;
    transition: ease-in-out 0.5s;
}

#playPauseBtn.pause i::before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="16" width="10" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M0 32l224 224-224 224z"/></svg>');
    animation: spin 0.5s linear forwards;
    transition: ease-in-out 0.5s;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#footerBtn {
    width: 50px;
    height: 30px;
    margin-left: 20px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.514);
    border-radius: 10%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}

#hideBtn {
    width: 50px;
    height: 30px;
    margin-right: 20px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.514);
    border-radius: 10%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}
